@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@300&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

body, html {
    height: 100%;
  }

header {
    margin: 0;
    background: #696969;
    color: #fff;
    text-align: center;
}



#home-page {
    background: url(../images/homepage-image.png);
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#home-page-title {
    font-size: 300%;
    text-align: center;
    text-transform: uppercase;
    color: white;
}

#home-page-sub-title {
    font-size: 150%;
    text-align: center;
    text-transform: uppercase;
    color: white;
}

#home-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 50px;
}



button {
  padding: 15px 25px;
  margin: 5px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #3a3a3a;
  border: none;
  border-radius: 15px;
  transition: 200ms transform;
}

button:hover {
    transform: translateY(-2px);
}

/* how to play */

header {
    height: 250px;
}

#rules-header {
    background: url(../images/header-image.png);
    background-position: center;
    /* background-repeat: no-repeat; */
    background-size: 100vh;
}

#how-to-play {
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
    background-color: #696969;
    color: white
}

#rules-title {
    font-size: 180%;
}

.how-to-play-title {
    text-align: center;
    font-size: 150%;
    margin-bottom: 50px;
}

ol {
    text-align: left;
    font-size: 100%;
    margin-bottom: 50px;
}

li {
    margin: 10px;
}


/* side selection */

#side-select {
    background: url(../images/side-select-image.png);
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
}

#side-select-title {
    font-size: 300%;
    text-align: center;
    text-transform: uppercase;
    color: white;
    margin-bottom: 20px;
    margin-top: 200px;
}

#player-choice {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    
}

/* .select-side-btn {
  padding: 15px 25px;
  margin: 5px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #3a3a3a;
  border: none;
  border-radius: 15px;
} */

#main-menu-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: flex-end;
}

/* Game page */

.game-title {
    padding: 10px;
}

#game-area {
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #696969;
    color: white
}

.player-turn {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 80px;
}

#gameboard {
    width: 450px;
    height: 450px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;

}

td {
	border:  2px solid #fff;
	height:  150px;
	width:  150px;
	text-align:  center;
	vertical-align:  middle;
	cursor: pointer;
}

table {
	border-collapse: collapse;
	top: 50px;
    margin-bottom: 50px;
}

.grid {
    margin-left: auto;
    margin-right: auto;
}

table tr:first-child td {
	border-top: 0;
}

table tr:last-child td {
	border-bottom: 0;
}

table tr td:first-child {
	border-left: 0;
}

table tr td:last-child {
	border-right: 0;
}

.box {
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3a3a3a;
    font-size: 150px;
}


.ironman {
    border-bottom: 5px solid #696969;
}

.ironman.active {
    border-color: red;
}


.captainAmerica {
    border-bottom: 5px solid #696969;
}

.captainAmerica.active {
    border-color: blue;
}



/* winning messages */

.winning-message-ironman {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .9);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.winning-message-ironman.show {
    display: flex;
}

.winning-message-captain {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .9);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.winning-message-captain.show {
    display: flex;
}

.draw-message {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .9);
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.draw-message.show {
    display: flex;
}

/* Media queries */

/* For medium screen sizes from 650px wide and down */

@media screen and (max-width: 650px) {
    .player-turn {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0;
    }

/* For small screen sizes from 550px wide and down */

@media screen and (max-width: 550px) {
    button {
        padding: 10px 20px;
        margin: 3px;
        font-size: 18px;
    }
    
    #side-select-title {
        font-size: 200%;
    }

    #gameboard {
        width: 300px;
        height: 300px;
    }

    .box {
        height: 100px;
        width: 100px;
    }

    .cap-win-pic {
        width: 100%;
    }

    .ironman-win-pic {
        width: 100%;
    }

    .draw-pic {
        width: 100%;
    }

    #player-choice {
        justify-content: space-between;
    }

    #player-choice, button {
        font-size: 12px;
    }

    td {
        height:  100px;
        width:  100px;
    }

}

/* For small screen sizes from 330px wide and down */

@media screen and (max-width: 330px) {
    #side-select-title {
        font-size: 150%;
    }

    #player-choice, button {
        padding: 10px 5px;
    }

}